@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body 
{
    font-family: 'Acme', sans-serif !important; 
}

::selection {
    color: #ffffff;
    background: #6960EC;
}

.default-nav
{
    margin: 0px 40px !important;
}